body,
html,
#root {
  background-color: #000 !important;
}

li {
  list-style: none;
}

.entry-header {
  display: none !important;
}

#ohif-root {
  border-left: 1px solid rgba(255, 255, 255, 0.12);
}

#ohif-root,
.labellingComponent .treeContent,
.MuiPaper-root {
  background-color: #000 !important;
}

.labellingComponent .locationDescriptionWrapper {
  color: #000 !important;
}
