body,
html,
#root {
  background-color: #424242 !important;
}

li {
  list-style: none;
}

.entry-header {
  display: none !important;
}

#ohif-root,
.labellingComponent .treeContent {
  background-color: #000 !important;
}

.labellingComponent .locationDescriptionWrapper {
  color: #000 !important;
}
